EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyCJJWZ0tNnFqKyGHqjf9jKW3q4L2D294CE
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=muslim-ummah-d970c.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=muslim-ummah-d970c
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=muslim-ummah-d970c.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=518938483883
EXPO_PUBLIC_FIREBASE_APP_ID=1:518938483883:web:97f907714aa09be8ee2bee
